<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="name">{{hero.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero" class="hero-detail">
  <span>当前英雄：</span>
  <span class="hero-info">
    {{selectedHero.name | uppercase}}
  </span>
  <button (click)="gotoDetail()">详情</button>
</div>
<div class="add-hero">
  <label>英雄名：</label>
  <input #heroName/>
  <button (click)="add(heroName.value); heroName.value=''">增加</button>
</div>

<!--<div>my-hero-detail</div>-->
<!--<sg-my-hero-detail [myHero]="selectedHero" (myVote)="onVoted($event)"></sg-my-hero-detail>-->

<!--<div>-->
  <!--vote-->
  <!--<h3>agree:{{agreed}},disagreed:{{disagreed}}</h3>-->
<!--</div>-->
