<h2>英雄管理中心</h2>
<nz-spin [nzSpinning]="loading">
  <nz-list [nzDataSource]="heroes" [nzRenderItem]="heroList"
           [nzGrid]="{gutter: 16, xs: 23, sm: 12, md: 6, lg: 6, xl: 4}">
    <ng-template #heroList let-hero>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card nzTitle="简介" [nzExtra]="operationTmp">
            <span [routerLink]="['/detail', hero.id]">{{hero.name}}</span>
            <ng-template #operationTmp>
              <i nz-icon nzType="close"
                 nzTheme="outline"
                 (click)="delete(hero)"
                 style="cursor:pointer;"></i>
            </ng-template>
          </nz-card>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-spin>

<div class="add-hero">
  <label>英雄名：</label>
  <input #heroName/>
  <button nz-button nzType="primary" (click)="add(heroName.value);heroName.value=''">增加</button>
</div>

