<div class="template-form">
  <div [hidden]="submitted">
    <h1>Person information(通过局部变量方式验证)</h1>
    <form #personForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name"
               required [(ngModel)]="person.name" #name="ngModel">
        <div class="alert alert-danger" *ngIf="name.invalid&&(name.dirty || name.touched)">
          <div class="alert alert-danger" *ngIf="name.errors.required">必填</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <input type="text" class="form-control" id="address" name="address"
               [(ngModel)]="person.address">
      </div>
      <div class="form-group">
        <label for="course">course</label>
        <select id="course" class="form-control" required
                name="course" [(ngModel)]="person.course" #course="ngModel">
          <option *ngFor="let course of courses;" [value]="course">{{course}}</option>
        </select>
        <div class="alert alert-danger" [hidden]="course.valid || course.pristine">必填</div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">确定</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>提交了一下信息:</h2>
    <div class="row">
      <div class="col-xl-3">Name</div>
      <div class="col-xl-9">{{ person.name }}</div>
    </div>
    <div class="row">
      <div class="col-xl-3">address</div>
      <div class="col-xl-9">{{ person.address }}</div>
    </div>
    <div class="row">
      <div class="col-xl-3">course</div>
      <div class="col-xl-9">{{ person.course }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">编辑</button>
  </div>
</div>
